{% extends 'adminDashboard/base.html.twig' %}

{% block title %}Edit TrainingTrainer{% endblock %}

{% block body %}
    {{ include('partials/_header.html.twig') }}
    {{ include('partials/_sidebar.html.twig') }}
    <div class="container-fluid pt-4 px-4">
        <div class="table-responsive">
            {% for message in app.flashes('danger') %}
                <div class="flash-notice alert-danger p-2">
                    {{ message }}
                </div>
            {% endfor %}
            {{ include('training_trainer/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-primary" href="{{ path('app_training_trainer_index') }}">Retour à la liste</a>
                &emsp13;&emsp13;
                {{ include('training_trainer/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
