<footer class="footer-section pt-120">
    <div class="footer-element-one">
        <img src="{{ asset('build/images/element/element-48.png') }}" alt="element">
    </div>
    <div class="footer-element-two">
        <img src="{{ asset('build/images/element/element-39.png') }}" alt="element">
    </div>
    <div class="footer-element-three">
        <img src="{{ asset('build/images/element/element-40.png') }}" alt="element">
    </div>
    <div class="footer-element-four">
        <img src="{{ asset('build/images/element/element-7.png') }}" alt="element">
    </div>
    <div class="footer-element-five">
        <img src="{{ asset('build/images/element/element-41.png') }}" alt="element">
    </div>
    <div class="footer-element-six">
        <img src="{{ asset('build/images/element/element-42.png') }}" alt="element">
    </div>
    <div class="footer-element-seven">
        <img src="{{ asset('build/images/element/element-39.png') }}" alt="element">
    </div>
    <div class="container">
        <div class="row mb-30-none">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a class="site-logo site-title" href="{{ path('app_home') }}"><img src="{{ asset('build/images/logo-two.png') }}" alt="site-logo"></a>
                    </div>
                    <p>Treker was founded in 1991 by a group of safety-focused professionals who created The Wingman Standard for rigorously vetting air charter operators.</p>
                    <ul class="footer-social">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="footer-widget">
                    <h5 class="title">About us</h5>
                    <ul class="footer-list">
                        <li><a href="#0">About Us</a></li>
                        <li><a href="#0">Community Blog</a></li>
                        <li><a href="#0">Rewards</a></li>
                        <li><a href="#0">Work with Us</a></li>
                        <li><a href="#0">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="footer-widget">
                    <h4 class="title">Explore Softim</h4>
                    <ul class="footer-list">
                        <li><a href="#0">Account</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                        <li><a href="#0">Affilitate</a></li>
                        <li><a href="#0">Program</a></li>
                        <li><a href="#0">Our Partner</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                <div class="footer-widget">
                    <h4 class="title">Quick Links</h4>
                    <ul class="footer-list">
                        <li><a href="#0">About us</a></li>
                        <li><a href="#0">News & press</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">FAQs</a></li>
                        <li><a href="#0">Careers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 text-center">
                    <div class="copyright-area">
                        <p>Copyright © 2022 <a href="index.html">COLLAB</a>. All Rights Reserved. <br>Developed by <a
                                   style="color: #1A3969" href="https://irisje.tn" target="_blank">🦅 IRIS Junior Enterprise. 🦅</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>