{% extends 'adminDashboard/base.html.twig' %}
{% block body %}
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="#" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>COLLAB</h3>
            </a>
            <div class="navbar-nav w-100">
                <a href="{{ path('app_category_index') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Les
                    catégories</a>
                <a href="{{ path('app_training_session_index') }}" class="nav-item nav-link"><i
                            class="fa fa-keyboard me-2"></i>Les Formations</a>
                <a href="{{ path('app_competition_index') }}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Les
                    compétitions</a>
                <a href="{{ path('app_training_trainer_index') }}" class="nav-item nav-link"><i
                            class="fa fa-keyboard me-2"></i>Les Formations - Formateurs</a>
                <a href="{{ path('app_partner_index') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Les
                    partenaires</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Les Utilisateurs</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{{ path('app_trainer_index_users') }}" class="dropdown-item">Les formateurs</a>
                        <a href="{{ path('app_user_index_users') }}" class="dropdown-item text-capitalize">Les élèves</a>
                    </div>
                </div>
                <a href="{{ path('app_user_not_approved_trainers') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Les demandes</a>
            </div>

        </nav>
    </div>
{% endblock %}