{% extends 'adminDashboard/base.html.twig' %}

{% block title %}TrainingSession index{% endblock %}

{% block body %}
    {{ include('partials/_header.html.twig') }}
    {{ include('partials/_sidebar.html.twig') }}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Place</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>IsApproved</th>
                                <th>Link</th>
                                <th>File</th>
                                <th>LinkForm</th>
                                <th>IsCanceled</th>
                                <th>Price</th>
                                <th>Rate</th>
                                <th>Requirement</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for training_session in training_sessions %}
                                <tr>
                                    <td>{{ training_session.id }}</td>
                                    <td>{{ training_session.name }}</td>
                                    <td>{{ training_session.description }}</td>
                                    <td>{{ training_session.place }}</td>
                                    <td>{{ training_session.startDate ? training_session.startDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ training_session.endDate ? training_session.endDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ training_session.isApproved ? 'Yes' : 'No' }}</td>
                                    <td>{{ training_session.link }}</td>
                                    <td>{{ training_session.linkForm }}</td>
                                    <td>{{ training_session.isCanceled ? 'Yes' : 'No' }}</td>
                                    <td>{{ training_session.price }}</td>
                                    <td>{{ training_session.rate }}</td>
                                    <td>{{ training_session.requirement }}</td>
                                    <td>
                                        <a href="{{ path('app_training_session_show', {'id': training_session.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                        <a href="{{ path('app_training_session_edit', {'id': training_session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        {{ include('training_session/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="15">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('app_training_session_new') }}">Create new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
