{% extends 'adminDashboard/base.html.twig' %}
{% block title %}COLLAB | Formations{% endblock %}
{% block body %}
    {{ include('partials/_header.html.twig') }}
    {{ include('partials/_sidebar.html.twig') }}
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Les Formations</h6>
                <a class="btn btn-outline-primary" href="{{ path('app_training_session_new') }}">Ajouter <i
                            class="fa-solid fa-plus"></i></a>
            </div>
            <form action="{{ path('app_training_session_index') }}" method="get" class="mb-3">
                <div class="input-group">
                    <div class="form-outline">
                        <input autofocus placeholder="Recherche..." value="{{ trainingSearch ?? '' }}" name="q" type="text" id="form1" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-outline-primary"/>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                    <tr class="text-dark">
                        <th scope="col" class="bg-info">Id</th>
                        <th scope="col" class="bg-info">Nom</th>
                        <th scope="col" class="bg-info">Date Début</th>
                        <th scope="col" class="bg-info">Formateur(s)</th>
                        <th scope="col" class="bg-info">Approuvée</th>
                        <th scope="col" class="bg-info">Annulée</th>
                        <th scope="col" class="bg-info">Actions</th>
                    </tr>
                    </thead>
                    <turbo-frame id="training-list-{{ pager.currentPage }}" target="_top">
                    <tbody>
                    {% for training_session in pager %}
                        <tr>
                            <td>{{ training_session.id }}</td>
                            <td>{{ training_session.name }}</td>
                            <td>{{ training_session.startDate ? training_session.startDate|date('j F Y') : '' }}</td>
                            <td>
                                <ul>
                                    {% for trainer in training_session.trainingTrainers %}
                                        <li class="list-item">
                                            {{ trainer.user.fullName }}  {{ trainer.requestedBy ? ' - Demandé' : '' }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ training_session.isApproved ? 'Yes' : 'No' }}</td>
                            <td>{{ training_session.isCanceled ? 'Yes' : 'No' }}</td>
                            <td>
                                {# <a class="btn btn-sm btn-primary rounded-circle" href="{{ path('app_category_show', {'id': category.id}) }}"><i class="fa-solid fa-eye"></i></a> #}
                                <a class="btn btn-outline-primary"
                                   href="{{ path('app_training_session_edit', {'id': training_session.id}) }}">Modifier</a>
                                {% if training_session.isApproved == false %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ path('app_training_session_approve', {'id': training_session.id}) }}">Approuver</a>
                                {% else %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ path('app_training_session_disapprove', {'id': training_session.id}) }}">Désapprouver</a>
                                {% endif %}
                                {% if training_session.isCanceled == false %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ path('app_training_session_cancel', {'id': training_session.id}) }}">Annuler</a>
                                {% else %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ path('app_training_session_activate', {'id': training_session.id}) }}">Réactiver</a>
                                {% endif %}
                                <a class="btn btn-outline-primary"
                                   href="{{ path('app_training_session_show', {'id': training_session.id}) }}">
                                    <i class="fa-solid fa-eye"></i></a>
                                <a class="btn btn-sm btn-outline-primary"
                                   href="{{ path('app_training_session_delete', {'id': training_session.id}) }}">{{ include('training_session/_delete_form.html.twig') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if pager.hasNextPage %}
                        <turbo-frame
                                id="training-list-{{ pager.nextPage }}" target="_top"
                                src="{{ pagerfanta_page_url(pager, pager.nextPage) }}"
                                loading="lazy"
                        ></turbo-frame>
                    {% endif %}
                    </tbody>
                    </turbo-frame>
                </table>
            </div>
            <br>
            {{ pagerfanta(pager) }}
        </div>
    </div>
    <!-- Recent Sales End -->
{% endblock %}