{% extends 'base.html.twig' %}

{% block title %}COLLAB{% endblock %}

{% block body %}
    <body>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Preloader
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {{ include('partials/_preloader.index.html.twig') }}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Preloader
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {{ include('partials/_cursor.index.html.twig') }}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Header
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {{ include('partials/_header.index.html.twig') }}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Header
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="banner-section">
        <div class="banner-video">
            <video class="video-hero" autoplay muted loop>
                <source src="{{ asset('build/images/videos/hero_collab.mp4') }}" type="video/mp4">
            </video>
        <div class="banner-element-one">
            <img src="{{ asset('build/images/element/element-3.png') }}" alt="element">
        </div>
        </div>
        <div class="container custom-container">
            <div class="row align-items-end mb-30-none">
                <div class="col-xl-7 col-lg-7 mb-30">
                    <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">
                        <h1 class="title">Smarter Way to Serve Digital Product Marketing</h1>
                        <span class="sub-title">Build Your Innovations & Digital Future</span>
                        <p>Personalization assumed up an excess of position in the showcasing space and has made each and every one of your messages exhausting and without feelings.</p>
                        <div class="banner-arrow">
                            <img src="{{ asset('build/images/element/element-1.png') }}" alt="element">
                        </div>
                        <div class="banner-widget">
                            <div class="banner-widget-wrapper">
                                <div class="banner-widget-left">
                                    <div class="banner-widget-thumb">
                                        <img src="{{ asset('build/images/element/element-2.png') }}" alt="element">
                                    </div>
                                </div>
                                <div class="banner-widget-middle">
                                    <div class="banner-widget-content">
                                        <p><span>4,000+</span> Satisfied Clients</p>
                                    </div>
                                </div>
                                <div class="banner-widget-right">
                                    <div class="banner-widget-btn">
                                        <a href="#" class="btn--base">Let's Talk</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Banner
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <hr style="width: 40%;position: center;background-color: #0c4a6e;margin-top: 30px;">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="about-section">
        <div class="about-element-one two">
            <img src="{{ asset('build/images/element/element-39.png') }}" alt="element">
        </div>
        <div class="container">
            <div class="about-area two">
                <div class="row justify-content-center align-items-center mb-30-none">
                    <div class="col-xl-6 col-lg-6 mb-30">
                        <div class="box-wrapper two">
                            <div class="box3"></div>
                            <div class="box1">
                                <div class="box-element-one">
                                    <img src="{{ asset('build/images/element/element-59.png') }}" alt="element">
                                </div>
                                <div class="box-element-two">
                                    <img src="{{ asset('build/images/element/element-7.png') }}" alt="element">
                                </div>
                            </div>
                            <div class="box2">
                                <div class="box-element-five">
                                    <img src="{{ asset('build/images/element/element-16.png') }}" alt="element">
                                </div>
                                <div class="box-element-six">
                                    <img src="{{ asset('build/images/element/element-7.png') }}" alt="element">
                                </div>
                            </div>
                        </div>
                        <div class="about-thumb">
                            <img src="{{ asset('build/images/element/element-58.png') }}" alt="element">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-30">
                        <div class="about-content">
                            <h2 class="title">A propos nous <br> <span class="text--base">COLLAB</span></h2>
                            <p class="para">We rank among the best in the US, Argentina, and Ukraine. Our apps get featured as best in class, & our clients love our work.</p>
                            <p>Welcome To Softim, a software development company, helps to digitize businesses by focusing on client’s business challenges, needs, pain points and providing business-goals-oriented software COLLAB.</p>
                            <div class="about-btn two">
                                <a href="#" class="btn--base">Send Message</a>
                                <span>or Call <a href="tel:11026593268003">+110 2659 3268 003</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End About
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


    <section class="blog-section pb-130">
        <div class="blog-element">
            <img src="{{ asset('build/images/element/element-47.png') }}" alt="element">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 text-center">
                    <div class="section-header">
                        <h2 class="section-title">Nos Formations</h2>
                        <p>Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-40-none">
                {% for training in trainingSessions[-6:]|reverse %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="uploads/trainingSession/thumbnail/{{ training.thumbnail }}" alt="{{ training.thumbnail }}">
                        </div>
                        <div class="blog-content">
                            <div class="blog-post-meta">
                                <span class="user">Par : {% for trainer in training.trainingTrainers %}
                                        {{ trainer.user.fullName }}
                                    {% endfor %}</span>
                                <br>
                                <span class="date">{{ training.startDate|date('j F Y') }}</span>
                            </div>
                            <h3 class="title"><a href="#">{{ training.name }}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="team-section ptb-130">
        <div class="team-element">
            <img src="{{ asset('build/images/element/element-43.png') }}" alt="element">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-header-wrapper">
                        <div class="section-header">
                            <h2 class="section-title">Nos Formateurs Acharnés</h2>
                            <p>We rank among the best in the US, Argentina, and Ukraine. Our apps get featured as best in class, and our clients love our work.</p>
                        </div>
                        <div class="slider-nav-area">
                            <div class="slider-prev">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="slider-next">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-10-none">
                <div class="col-xl-12">
                    <div class="team-slider-area">
                        <div class="team-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-item">
                                        <div class="team-thumb">
                                            <img src="{{ asset('build/images/team/team-1.png') }}" alt="team">
                                            <div class="team-social-area">
                                                <ul class="team-social">
                                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="title"><a href="#">Nilkusa Agawal</a></h3>
                                            <span class="sub-title">Sr. Marketer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-item">
                                        <div class="team-thumb">
                                            <img src="{{ asset('build/images/team/team-2.png') }}" alt="team">
                                            <div class="team-social-area">
                                                <ul class="team-social">
                                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="title"><a href="#">Abhisek Roy</a></h3>
                                            <span class="sub-title">Havey Truck Instructor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-item">
                                        <div class="team-thumb">
                                            <img src="{{ asset('build/images/team/team-3.png') }}" alt="team">
                                            <div class="team-social-area">
                                                <ul class="team-social">
                                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                                                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="title"><a href="#">Rashmika Mandana</a></h3>
                                            <span class="sub-title">Lady Instructor</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Team
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {% if competition is not empty %}
    <section style="box-shadow: rgba(203,24,24, 0.6)" class="service-section two ptb-120">
        <div class="container box-shadow p-5 "  style=" border-radius: 1%;">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="service-item three details">
                        <div class="service-thumb" >
                            <img   style=" border-radius: 1%;"  src="uploads/competitions/thumbnail/{{ competition[0].thumbnail }}" alt="service">
                        </div>
                        <div class="service-content">
                            <h2 class="title ">{{ competition[0].name }}</h2>
                            <p>{{ competition[0].description }}</p>
                            <div class="service-widget-item-area">
                                <div class="row justify-content-center mb-30-none">
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{{ asset('build/images/icon/icon-17.png') }}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">Localisation</h5>
                                                <span class="sub-title">{{ competition[0].place }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{{ asset('build/images/icon/icon-18.png') }}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">Date Début</h5>
                                                <span class="sub-title">{{ competition[0].startDate|date('j F Y') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{{ asset('build/images/icon/icon-19.png') }}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">Date Fin</h5>
                                                <span class="sub-title">{{ competition[0].endDate|date('j F Y') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                        <div class="service-widget-item">
                                            <div class="service-widget-icon">
                                                <img src="{{ asset('build/images/icon/icon-20.png') }}" alt="icon">
                                            </div>
                                            <div class="service-widget-content">
                                                <h5 class="title">Prix</h5>
                                                <span class="sub-title">{{ competition[0].price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Service
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Service
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="service-section ptb-120">
        <div class="service-element-one">
            <img src="{{ asset('build/images/element/element-34.png') }}" alt="element">
        </div>
        <div class="service-element-two">
            <img src="{{ asset('build/images/element/element-35.png') }}" alt="element">
        </div>
        <div class="service-element-three">
            <img src="{{ asset('build/images/element/element-36.png') }}" alt="element">
        </div>
        <div class="service-element-four">
            <img src="{{ asset('build/images/element/element-36.png') }}" alt="element">
        </div>
        <div class="service-element-five">
            <img src="{{ asset('build/images/element/element-37.png') }}" alt="element">
        </div>
        <div class="service-shape shape-1"></div>
        <div class="service-shape shape-2"></div>
        <div class="service-shape shape-3"></div>
        <div class="service-shape shape-4"></div>
        <div class="service-shape shape-5"></div>
        <div class="service-shape shape-6"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-header-wrapper">
                        <div class="section-header white">
                            <h2 class="section-title">Our Awesome Services</h2>
                            <p>Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.</p>
                        </div>
                        <div class="section-header-btn">
                            <a href="service.html" class="custom-btn two">View All Services <i class="icon-Group-2361 ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div style="margin-top: 50px">
                        <img style="z-index: -1;" src="{{ asset('build/images/rank/rank2.png') }}" alt="a">
                        <div class="service-item">
                            <div class="service-icon">
                                <img src="{{ asset('build/images/team/team-1.png') }}" style="border-radius: 50%;" alt="icon">
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Web Design</a></h3>
                                <p>We rank among the best in the US, Argentina, and Ukraine. Our apps get</p>
                                <div class="service-btn">
                                    <a href="service-details.html" class="custom-btn">Learn More <i class="icon-Group-2361 ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <img style="z-index: -1;" src="{{ asset('build/images/rank/rank1.png') }}" alt="a">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="{{ asset('build/images/team/team-2.png') }}" style="border-radius: 50%;" alt="icon">
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="service-details.html">Digital Marketing</a></h3>
                            <p>We rank among the best in the US, Argentina, and Ukraine. Our apps get</p>
                            <div class="service-btn">
                                <a href="service-details.html" class="custom-btn">Learn More <i class="icon-Group-2361 ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-30">
                    <div style="margin-top: 80px">
                        <img style="z-index: -1;" src="{{ asset('build/images/rank/rank3.png') }}" alt="a">
                        <div class="service-item">
                            <div class="service-icon">
                                <img src="{{ asset('build/images/team/team-3.png') }}" style="border-radius: 50%;" alt="icon">
                            </div>
                            <div class="service-content">
                                <h3 class="title"><a href="service-details.html">Search SEO</a></h3>
                                <p>We rank among the best in the US, Argentina, and Ukraine. Our apps get</p>
                                <div class="service-btn">
                                    <a href="service-details.html" class="custom-btn">Learn More <i class="icon-Group-2361 ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Service
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <a href="#" class="scrollToTop"><i class="las la-angle-double-up"></i></a>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Scroll-To-Top
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Brand
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="brand-section oh ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 text-center">
                    <div class="section-header">
                        <h2 class="section-title">Nos partenaires</h2>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="brand-slider-area">
                        <div class="brand-slider">
                            <div class="swiper-wrapper">
                                {% for partner in partners %}
                                <div class="swiper-slide">
                                    <div class="brand-item">
                                        <img src="uploads/partners/{{ partner.logo }}" alt="{{ partner.logo }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Brand
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <section class="agency-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="agency-content text-center">
                        <div class="agency-logo-text">
                            <span>COLLAB</span>
                        </div>
                        <h2 class="title">Softim is a digital agency that offers a wide scale of
                            creative services, including brand development
                            online marketing and lots more.</h2>
                    </div>
                    <div class="agency-statistics-area">
                        <div class="row justify-content-center mb-30-none">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                <div class="statistics-item">
                                    <div class="statistics-content">
                                        <div class="odo-area">
                                            <h3 class="odo-title odometer" data-odometer-final="12">0</h3>
                                            <h3 class="title">+</h3>
                                        </div>
                                        <p>Years of operation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                <div class="statistics-item">
                                    <div class="statistics-content">
                                        <div class="odo-area">
                                            <h3 class="odo-title odometer" data-odometer-final="256">0</h3>
                                            <h3 class="title">+</h3>
                                        </div>
                                        <p>Projects deliverd</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                <div class="statistics-item">
                                    <div class="statistics-content">
                                        <div class="odo-area">
                                            <h3 class="odo-title odometer" data-odometer-final="65">0</h3>
                                            <h3 class="title">+</h3>
                                        </div>
                                        <p>Team Specialist</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                                <div class="statistics-item">
                                    <div class="statistics-content">
                                        <div class="odo-area">
                                            <h3 class="odo-title odometer" data-odometer-final="25">0</h3>
                                            <h3 class="title">+</h3>
                                        </div>
                                        <p>Around The World</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Call to action
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    <section class="call-to-action-section pb-120">
        <div class="call-to-action-element" data-aos="fade-left" data-aos-duration="1200">
            <img src="{{ asset('build/images/element/element-33.png') }}" alt="element">
        </div>
        <div class="wrapper demo-text">
            <div class="marquee">
            <span>
                STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB STARTUP COLLAB
            </span>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Call to action
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->








    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Call-to-action
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <section class="subscribe-section ptb-120">
        <div class="subscribe-element-one">
            <img src="{{ asset('build/images/element/element-51.png') }}" alt="element">
        </div>
        <div class="container">
            <div class="subscribe-area">
                <div class="subscribe-element-two">
                    <img src="{{ asset("build/images/element/element-76.png") }}" alt="element">
                </div>
                <div class="subscribe-element-three">
                    <img src="{{ asset('build/images/element/element-50.png') }}" alt="element">
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-7 offset-xl-5">
                        <div class="subscribe-content">
                            <h2 class="title">Get Newsletter From Softim</h2>
                            <p>Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone web-readiness.</p>
                            <form class="subscribe-form">
                                <label class="subscribe-icon"><img src="{{ asset('build/images/icon/icon-7.png') }}" alt="icon"></label>
                                <input type="text" class="form--control" placeholder="Email Address">
                                <button type="submit" class="btn--base">SUBSCRIBE <i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Call-to-action
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Footer
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {{ include('partials/_footer.index.html.twig') }}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Footer
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </body>
{% endblock %}
