{% extends 'adminDashboard/base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}
    {{ include('partials/_header.html.twig') }}
    {{ include('partials/_sidebar.html.twig') }}
    <div>
        <div class="table-responsive">
            <table class="table mod">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ competition.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ competition.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ competition.description }}</td>
                </tr>
                <tr>
                    <th>Localisation</th>
                    <td>{{ competition.place }}</td>
                </tr>
                <tr>
                    <th>Date début</th>
                    <td>{{ competition.startDate ? competition.startDate|date('j F Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Date fin</th>
                    <td>{{ competition.endDate ? competition.endDate|date('j F Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Annulé</th>
                    <td>{{ competition.isCanceled ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ competition.price }}</td>
                </tr>
                <tr>
                    <th>Images</th>
                    <td>
                        {% if competition.imageCompetitions.count == 0 %}
                            <p>Aucune image pour cette compétition</p>
                        {% endif %}
                        {% for image in competition.imageCompetitions %}
                            <img src="{{ asset('uploads/competitions/' ~ image.imageName) }}"
                                 alt="{{ image.imageName }}" width="150px" height="auto">
                            <a class="remove-image"
                               href="{{ path('app_competition_delete_image', {'id': competition.id, 'imageId': image.id}) }}"
                               style="display: inline;">&#215;</a>
                        {% endfor %}
                    </td>
                </tr>
                {# <tr>
                    <th>Guest</th>
                    <td>{{ competition.guest ? competition.guest|join(', ') : '' }}</td>
                </tr> #}
                <tr>
                    <td><a class="btn btn-outline-primary" href="{{ path('app_competition_index') }}">Retour à la
                            liste</a>
                    </td>
                    <td><a class="btn btn-outline-primary"
                           href="{{ path('app_competition_edit', {'id': competition.id}) }}">Modifier</a>
                    </td>
                    {{ include('competition/_delete_form.html.twig') }}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Prize</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set foo = 0 %}
                                {% for participate in competition.participateToCompetitions %}
                                    {% if participate.classification is not null  %}
                                        {% set foo = foo+1 %}
                                    {% endif %}
                                    <tr>
                                        <td class="h5">{{ participate.user.fullName }}</td>
                                        <td class="h5">{{ participate.classification }}</td>
                                        <td class="h5">{{ participate.prize }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="col-md-12">



                                <form action="{{ path('app_competition_save_rank',{'id':competition.id}) }}" method="post">
                                    {% if foo==0 %}
                                        <label for="rank">Premiere place</label>
                                        <input type="hidden" name="userRank" id="rank" value="1">
                                    {% elseif foo==1 %}
                                        <label for="rank">Deuxieme place</label>
                                        <input type="hidden" name="userRank" id="rank" value="2">
                                    {% elseif foo==2 %}
                                        <label for="rank">Troisieme place</label>
                                        <input type="hidden" name="userRank" id="rank" value="3">
                                    {% endif %}
                                    {% if foo <3 %}
                                        <select name="userId" id="rank">
                                            {% for participant in competition.participateToCompetitions %}
                                                {% if participant.classification is null  %}
                                                    <option value="{{ participant.user.id }}">{{ participant.user.fullName }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <label for="prize">prize</label>
                                        <input id="prize" name ="prize" type="text">

                                        <button type="submit" class="btn btn-outline-primary">Valider</button>
                                    {% endif %}
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
