{% extends 'base.html.twig' %}

{% block title %}ParticipateToTrainingSession{% endblock %}

{% block body %}
    <h1>ParticipateToTrainingSession</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participate_to_training_session.id }}</td>
            </tr>
            <tr>
                <th>IsPresent</th>
                <td>{{ participate_to_training_session.isPresent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ participate_to_training_session.comment }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ participate_to_training_session.rate }}</td>
            </tr>
            <tr>
                <th>ParticipatedAt</th>
                <td>{{ participate_to_training_session.participatedAt ? participate_to_training_session.participatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CommentedAt</th>
                <td>{{ participate_to_training_session.commentedAt ? participate_to_training_session.commentedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsCached</th>
                <td>{{ participate_to_training_session.isCached ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participate_to_training_session_index') }}">back to list</a>

    <a href="{{ path('app_participate_to_training_session_edit', {'id': participate_to_training_session.id}) }}">edit</a>

    {{ include('participate_to_training_session/_delete_form.html.twig') }}
{% endblock %}
